.Contact,
.FormContainer {
    background-color: transparent !important;
}

.Label {
    font-size: smaller;
}

.SubmitButton {
    background-color: #9a8c98 !important;
    color: whitesmoke !important;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
    text-shadow: none;
    transition: background-color 0.3s ease;
}

.SubmitButton:hover {
    background-color: #4b5563 !important;
}