a {
    text-decoration: none !important;
}

.Subheading {
    text-align: justify;
    font-size: .95rem;
    font-weight: 300;
}

.Shop {
    font-weight: 400;
    letter-spacing: .3rem;
    font-size: 1rem;
}

.ProductCard {
    max-width: 15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CardImg {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.Button {
    background-color: transparent;
    box-sizing: border-box;
    color: #111827;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.Button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.Button:focus-visible {
    box-shadow: none;
}

@media (max-width: 576px) {
    .ProductCard {
        width: 100%;
    }
}