.Col a {
    text-decoration: none;
}

h3 {
    font-size: 1.4rem !important;
}

h4 {
    font-size: 1.2rem !important;
}

.Card {
    min-height: 7.2rem;
    background-color: inherit !important;
}

.IngredientName {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1rem;
    text-align: left;
}

.Title {
    font-size: 1.5rem !important;
    font-family: "Parisienne", cursive
}

.Subtitle {
    font-weight: 200 !important;
    font-size: .9rem !important;
}

.ImageRows {
    max-width: 100%;
    margin: 0 auto;
}

.Square {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 250px;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
}

.HeadingFour {
    font-weight: 400;
    letter-spacing: 0.3rem;
    font-size: 1.3rem;
}

.CoconutText,
.BeeswaxText {
    text-align: justify;
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .Square {
        max-width: 200px;
        max-height: 200px;
    }

    .CoconutText,
    .BeeswaxText {
        text-align: center;
    }
}