.Col a {
    text-decoration: none;
}

p {
    text-align: justify;
    font-size: .95rem;
    font-weight: 300;
}

.Card {
    min-height: 7.2rem;
    background-color: inherit !important;
}

.Title {
    font-size: 1.5rem !important;
    font-family: "Parisienne", cursive
}

.Subtitle {
    font-weight: 200 !important;
    font-size: .9rem !important;
}

.ImageRows {
    max-width: 100%;
    margin: 0 auto;
}

.Square {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 250px;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
}

.CoconutText,
.BeeswaxText {
    text-align: justify;
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .Square {
        max-width: 200px;
        max-height: 200px;
    }

    .CoconutText,
    .BeeswaxText {
        text-align: center;
    }
}