.Navbar {
    position: fixed;
    top: 0;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.Nav {
    text-align: right !important;
    padding-right: 1rem;
}

.span button:focus-visible {
    border: none;
}

.Brand {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    ;
}